body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* Add more CSS styles for other sections */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f67979;
  color: #241f02;
}

.button {
  background-color: #007bff;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid #ccc;
  padding: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.1);
}